@use 'assets/styles/include-media' as *;

.container {
  border: 1px solid var(--c-neutral-300);
  background-color: var(--c-neutral-900);

  .header {
    padding: 0.5rem;
    border-bottom: 1px solid var(--c-neutral-300);

    h5 {
      color: var(--c-white);
      font-weight: 600;
    }
  }

  .body {
    padding: 0.5rem;

    p {
      color: var(--c-neutral-300);
    }
  }

  @include media('>543px') {
    max-width: 178px;

    h5,
    p {
      font-size: clamp(0.875rem, 2.5vw, 1rem);
    }
  }

  @include media('<=466px') {

    h5,
    p {
      font-size: clamp(0.875rem, 3.375vw, 1rem);
    }

    .header,
    .body {
      padding: 0.375rem;
    }
  }
}