@use 'assets/styles/include-media.scss' as *;

.container {
  padding: 7rem 0 4rem;

  .wrapper {
    margin: auto;
    width: min(1110px, 90%);

    h1 {
      color: var(--c-white);
      font-weight: 600;
      font-size: clamp(1.5rem, 5.5vw, 2.875rem);

      span {
        color: var(--c-purple);
      }
    }

    p {
      color: var(--c-neutral-300);
      font-size: clamp(0.875rem, 3vw, 1.3125rem);
    }
  }
}