@use './reset.scss';
@use './fonts.scss';
@use './variables.scss';
@use './include-media.scss';
@use './typography.scss';

body {
  min-height: 100vh;
  background-color: var(--c-neutral-950);

  // col lighter background
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1110px, 90%);
    height: 100%;
    background-color: var(--c-neutral-900);
    z-index: -1;
  }
}