:root {
  --ff-primary: 'Fira Code', sans-serif;


  /**
   * COLORS
   */
  // BASE
  --c-white: hsl(0, 0%, 100%);
  --c-black: hsl(0, 0%, 0%);
  // THEME
  --c-purple: #c778dd;

  // NEUTRAL 
  --c-neutral-100: #f0f0f0;
  --c-neutral-300: #abb2bf;
  --c-neutral-900: #2a2e35;
  --c-neutral-950: #282c33;

  // 
  --g-width: min(1110px, 90%);
}