@use 'assets/styles/include-media' as *;

.container {
  padding: 4rem 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    width: min(1110px, 90%);

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        position: relative;
        color: var(--c-white);

        @include media('<=820px') {
          font-size: clamp(1.625rem, 4.5vw, 2.25rem);
        }

        span {
          color: var(--c-purple);
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(100% + 0.6875rem);
          width: 200%;
          height: 1px;
          background-color: var(--c-purple);
          transition: width 0.3s ease;

          @include media('<=820px') {
            width: 120%;
          }

          @include media('<=540px') {
            display: none;
          }
        }
      }

      a {
        display: flex;
        align-items: center;
        color: var(--c-neutral-300);
        font-family: var(--ff-primary);
        font-size: 0.875rem;
        line-height: 1;
        text-decoration: none;
        transition: color 0.2s ease;

        svg {
          margin-left: 0.5rem;

          path {
            fill: var(--c-neutral-300);
            transition: fill 0.2s ease;
          }
        }

        &:hover {
          color: var(--c-white);

          svg path {
            fill: var(--c-white);
          }
        }

        @include media('<=810px') {
          font-size: 11px;

          svg {
            width: 22px;
            margin-left: 0.25rem;
          }
        }
      }
    }

    .body {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

      @include media('<=1110px') {
        gap: 2rem;
        justify-content: center;
      }
    }
  }
}